body {
    background-color: #422979;
}

header {
    background-color: #2D192B;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

header a{
    text-decoration: none;
    color:white;
}

.logo{
text-align: left;
}

.title-main {
    font-family: "Irish Grover";
    text-align: left;
}

.search{
    text-align: right;
}

main {
    text-align: center;
}

footer {
}

img {
    width: 162px;
    height: 162px;
    left: 18px;
    top: 3px;
    background: url(image.png);
}

main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
    font-family: "Irish Grover";
}


h3 {
    font-family: "Irish Grover";
    display: block;
    text-align: center;
}

h5 {
    font-family: "Irish Grover";
    display: block;
    text-align: center;
}
